<div class="containerModal">
    <p class="titleMedium">Configuração SE</p>
    <form  method="post">
        <p class="titleLow">Valor 1:</p>
        <input type="email" class="rounded-input" name="emailInput" [(ngModel)]="valX"> 
        
        <p class="titleLow">Condição:</p>
        <select class="dropdown-input" name="conditionInput" placeholder="Escolha seu papel" [(ngModel)]="condition">
            <option value="" disabled selected> </option>
            <option value=">">maior</option>
            <option value="<">menor</option>
            <option value=">=">maior igual</option>
            <option value="<=">menor igual</option>
            <option value="==">igual</option>
            <option value="!=">diferente</option>
          </select>

        <p class="titleLow">Valor 2:</p>
        <input type="text" class="rounded-input" name="emailInput" [(ngModel)]="valY">
        
        <p class="titleLow">Quantidade de instruções:</p>
        <input type="text" class="rounded-input" name="emailInput" [(ngModel)]="quantityInstructions">
        <p class="error, paragraph" *ngIf="showError">{{errorMesage}}</p>
        <button class="button button-text" (click)="addNewComand()">Adicionar</button>
    </form>
</div>