.containerModal{
    width: 100%;
    background-color: #101010;
    padding: 10px;
}

.paragraph{
    color: red;
}

.titleMedium{
    font-size: 220%;
}

.titleLow{
    text-align: left;
    margin-left: 25%;
    margin-bottom: 10px;
}

.rounded-input {
    width: 50%;
    padding: 1.7%;
}

.dropdown-input{
    width: 53%;
    margin-bottom: 20px;
}

.titleComand{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 140%;
    color: white;
    text-align: center;
}

.textAction{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #3CDE38;
    text-align: center;
    cursor: pointer;
}
  