.container{
    background-color: black;
    background-image: none;
}

.button{
    padding: 0.5%;
    width: 12%;
}

.button-container{
    width: 100%;
    display: flex; 
    justify-content: flex-start;
    margin-top: -38px;
}


