.flowchartContainer {
    width: 95%;
    /* background-color: rgba(210, 8, 8, 0.76); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 80vh;
}

.color{
    /* background-color: aqua; */
}