<div class="container">
    <app-menu style="width: 101%; margin-left: -6px"></app-menu>
    <div class="login-form">
    <img src="../../../../assets/images/disco-voador3.png" alt="Logo" class="logo">
    <h2 class="titleLarge">Vamos Nessa!!</h2>
    <div class="containerButtons">
        <button (click)="handleNewGame()" class="button button-text">Novo Jogo</button>
        <button (click)="handleContinue()" routerLink="/game" class="button button-text">Continuar</button>
    </div>

    </div>
</div>