<div class="container">
    <div class="split-screen">
        <div class="column-left">
          <!-- Conteúdo da primeira coluna -->
          <h2 class="titleLarge">Escolha o comando</h2>
          <!-- <comand-component> </comand-component>
          <app-if-component> </app-if-component> -->
          <div id="containerCanva"></div>
          <button (click)="removelastInstruction()" class="button button-text buttonRemove" >Remover</button>

        </div>
        <div class="column-right">
          <button (click)="testAlgorithm()" class="button button-text buttonTest" >Testar</button>
          <!-- Conteúdo da segunda coluna -->
          <!-- <p>Segunda coluna (70% da tela)</p> -->
          <app-flowchart *ngIf="showModal==10"></app-flowchart>
          <app-modal-comand *ngIf="showModal==0" [variavelCompartilhada]="showModal" (variavelCompartilhadaChange)="showModal = $event"></app-modal-comand>
          <app-modal-if *ngIf="showModal==1" [variavelCompartilhada]="showModal" (variavelCompartilhadaChange)="showModal = $event"></app-modal-if>
          <app-modal-for *ngIf="showModal==2" [variavelCompartilhada]="showModal" (variavelCompartilhadaChange)="showModal = $event"></app-modal-for>

          <div class="question-container">
        <div class="text-container">
                <p class="titleLow">
                  Desáfio:
                </p>
                <p class="paragraph">
                  <!-- {{currentLevel.question}}   -->
                  instrução do level instrução do level instrução do level instrução do level instrução do level
                </p>
        
        </div>
    </div>

        </div>
      </div>      
</div>


