<div class="container">
   
    <div class="split-screen">
        <div class="column-left">
          <!-- Conteúdo da primeira coluna -->
          <h2 class="titleLarge">Escolha o comando</h2>
          <comand-component> </comand-component>
          <app-if-component> </app-if-component>
          <p>Primeira coluna (30% da tela)</p>
        </div>
        <div class="column-right">
          <!-- Conteúdo da segunda coluna -->
          <p>Segunda coluna (70% da tela)</p>

        </div>
      </div>      
</div>


